<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
         https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>Componente Prestador Salud - Mockup</display-name>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>PrestadorSaludServlet</servlet-name>
        <servlet-class>uy.edu.tse.hcen.prestador.servlet.PrestadorSaludServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PrestadorSaludServlet</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ConfigServlet</servlet-name>
        <servlet-class>uy.edu.tse.hcen.prestador.servlet.ConfigServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfigServlet</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>

</web-app>

