# Maven
target/
**/target/

# Java class and binaries
*.class
*.jar
*.war
*.ear

# Eclipse/IDEA/NetBeans
*.iml
.idea/
.project
.classpath
.settings/
nbproject/

# m2e generated resources
**/target/m2e-wtp/

# Maven compiler plugin intermediates
**/maven-status/
**/inputFiles.lst

# Logs
*.log
*.tmp
*.bak

# Environment files
.env

# OS files
.DS_Store
Thumbs.db
/.metadata/

# Maven wrapper
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
release.properties
dependency-reduced-pom.xml
buildNumber.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
