services:
  frontend-dev:
    image: node:18-alpine
    working_dir: /app
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "3000:3000"
    environment:
      - CHOKIDAR_USEPOLLING=true
      - REACT_APP_VARIABLE=${REACT_APP_VARIABLE}
    command: sh -c "npm install && npm start"